/* STYLE SHEET FOR ETCH-A-SKETCH */

body {
    text-align: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 0;
}

input {
    margin-bottom: 20px;
}

.container {
    display: grid;
    width: 80vh;
    margin: auto auto;
    border: 3px solid black;
}

.container div {
    aspect-ratio: 1;
    border: 1px solid black;
}