/* STYLE SHEET FOR ETCH-A-SKETCH */

body {
    text-align: center;
}

.container {
    display: grid;
    width: 50%;
    margin: auto auto;
    border: 3px solid black;
}

.container div {
    aspect-ratio: 1;
    border: 1px solid black;
}