/* STYLE SHEET FOR ETCH-A-SKETCH */

body {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: 1fr;
    width: 50%;
    margin: auto auto;
}

.container div {
    aspect-ratio: 1;
}